.online-dot {
    position: absolute;
    bottom: 0;
    top: 41px;
    right: 4px;
    width: 15px;
    height: 15px;
    background-color: #4CAF50;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #fff;
    z-index: 1;
}