.postpage{
    border: 1px solid grey;
      width: 28%;
      margin: 72px auto;
      padding: 20px;
  }
  .form-control{
    width: 90%;
  }
  .btn-createpost{
    background-color: #1773ea;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 750;
    padding: 7px 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .edit-sec-post{
    border: 1px solid beige;
    padding: 30px;
  }
  .err-msg{
    text-align: left;
    color: red;
  }
  .img-container-postimg >img{
    width: 295px;
    height: 350px;
    /* border-radius: 10px; */
    object-fit: cover;

  }
  .image-part-edit-post>img{
    width: 100%;
    margin-top: 12px;
  }
  .edit-btn-post>svg{
  position: absolute;
  top: 31%;
  right: 36%;
}
.backpage-icon{
  margin-right: 58%;
  margin-top: 20px;
}