
.signUp-logo{
  width: 200px;
  object-fit: contain;
  border-radius: 0px;
  padding: 10px 0px;
 }
 .signUp{
  background-image: url("https://img.freepik.com/free-vector/purple-background-design_1117-49.jpg?size=338&ext=jpg&ga=GA1.1.2116175301.1717977600&semt=ais_user");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .form{
  background-color: #fff;
  padding: 17px;
  border:1px rgba(129, 121, 121);
padding-top: 1px;
  border-radius: 1px;
  max-width:400px;
 }
 .loginPara{
  color: rgba(var(--f52,142,142,142),1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px 40px 20px 40px;
 }
 input{
  padding: 5px;
  margin: 3px 0px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  
 }
.form > div{
/* width: 8%; */
margin: auto;
}
.btn-register{
background-color: #1773ea;
border: none;
border-radius: 3px;
color: white;
font-weight: 750;
padding: 7px 10px;
width: 100%;
cursor: pointer;
margin-top: 8px;
}
.form2{
background-color: #fff;
padding:11px;
margin-top: 5px;
border:1px rgba(129, 121, 121);
border-radius: 1px;
}
.err-msg-register{
text-align: left;
  color: red;

  margin: 0px;
  margin-left: 4px;
}
.input-control{

  display: flex;
  border: 1px solid lightgrey;
padding-right: 2px;
  align-items: center;
  margin: 4px;
}
.input-control>input{
border: none;
}
.sucess-message{
background-color: #5cdd5c;
width: 370px;
padding: 15px;
font-size: 14px;
color: white;
border-radius: 5px;
text-align: center;

}
